.article {
   
}

.preview {
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    padding-top: 10px;
}

.title{
    margin: 0;
}

.link {
    text-decoration: none;
     color: black;
}

.meta {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #bbb;
    font-size: .8rem;
}

.info {
    display: flex;
    flex-direction: column;
    margin-left: 5px;
}

.avatar {
    width: 48px;
    height: 48px;
}

.image {
    width: 100%;
    height: auto;
    border-radius: 50%;
}